* {
    margin: 0;
    background-color: bisque;
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
}

p {
    font-size: medium;
}

.navbar {
    height: 75px;
    display: flex;
    justify-content: end;
    align-items: center;
}

nav {
    background-color: #dda15e;
}

ul {
    list-style: none;
}

li {
    padding-right: 35px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}
    
.hero {
    display: flex;
    padding: 0 20px;
    margin: 50px auto;
    justify-content: center;
}

.herotxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding-left: 30px;

}

#bianca {
    margin: 5px 0;
}

.headshot {
    height: auto;
    width: 250px;
    border-radius: 20px;
}

/* about page */

#story {
    width: 700px;
    margin: 50px auto;
}

#who {
    margin: 5px 0;
}

#gift {
    width: 700px;
    margin: 50px auto;
}

#coffee {
    margin: 10px 0;
}

#coffee-btn {
    background-color: #dda15e;
    border-style: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: medium;
}